---
layout: default
title : Publications
navbar_title: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

{% assign pubs_by_year = site.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}

<div class="row">
    <div class="col-12 col-lg-10">
        {% for year in pubs_by_year %}
        {% assign num_papers = year.items | size %}
        <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in year.items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for year in pubs_by_year %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
        </div>
    </div>

</div>

<div class="row mt-4">
    <div class="col-12 col-lg-10">
        <div class="my-3 p-0 bg-white shadow-sm rounded-xl">
            <h6 class="border-bottom border-gray p-3 mb-0"><i class="fas fa-book"></i> Book chapters &amp; translations</h6>
            <div class="p-3">
                <ul class="mb-0">
                    <li>Sole-authored chapter in <em>Principles of Deep Learning and PyTorch in Practice</em> (2022; second edition published).</li>
                    <li>“Comparative Study of Global FinTech,” in the <em>2020 FinTech Blue Book</em>.</li>
                    <li>“Innovation Management Mechanisms in FinTech,” in the <em>2019 FinTech Blue Book</em>.</li>
                    <li>Lead translator, <em>The Birth of the Federal Reserve</em>; contributing translator, <em>Cryptoasset Investing</em>.</li>
                </ul>
                <p class="small text-muted mt-3 mb-0">Full publisher and edition details for these contributions can be added when confirmed.</p>
            </div>
        </div>
    </div>
</div>
